body {
  font-family: Calibri;
  width: 600px;
}

table {
  border: solid black 1px;
  background-color: wheat;
  width: 100%;
}

th {
  text-align: center;
}

td {
  text-align: left;
  border: solid black 1px;
  background-color: white;
}